<div class="flex grid-cols-3 gap-10 pb-16">
  <ng-container *ngFor="let r of accountSetup.allRoles">
    <p-card *ngIf="adminPreSelect && !r.isAdminRole">
      <ng-template pTemplate="header">
        <h1 class="text-center font-bold flex justify-center">{{ r.name }}&nbsp;&nbsp;
          <p-checkbox value="{{ r.name }}" [(ngModel)]="accountSetup.selectedRoleNames"></p-checkbox>
        </h1>
      </ng-template>
      <p>{{ r.description }}</p>
    </p-card>
    <p-card *ngIf="!adminPreSelect">
      <ng-template pTemplate="header">
        <h1 class="text-center font-bold flex justify-center">{{ r.name }}&nbsp;&nbsp;
          <p-checkbox value="{{ r.name }}" [(ngModel)]="accountSetup.selectedRoleNames"></p-checkbox>
        </h1>
      </ng-template>
      <p>{{ r.description }}</p>
    </p-card>
  </ng-container>
</div>
