@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Company Profile components */

.p-inputtext,
.p-dropdown {
  width: 100%;
}

.p-chips {
  width: 100%;
}

/* Vertical navigation */

.p-sidebar-left {
  width: 16rem !important;
}

.p-sidebar,
.p-button {
  background-color: #0030b7;
}

vvu-vertical-nav {
  .p-panelmenu .p-menuitem-text,
  .p-menuitem-icon,
  .pi-chevron-right > a {
    color: #0030b7;
  }
}

vvu-vertical-nav {
  .pi-chevron-right {
    color: #0030b7;
  }
}

vvu-vertical-nav {
  .p-panelmenu .p-panelmenu-header > a {
    border-color: #fafafa;
  }
}

vvu-vertical-nav {
  ::-webkit-scrollbar {
    display: none;
  }
}

.p-panelmenu-icon {
  order: 1; // Chevron icon to be the first item on right side.
}

.p-menuitem-text {
  flex-grow: 1; // Fill the whole space and push the Chevron icon to the end.
}

/* Horizontal bar and navigation */

.p-toolbar {
  padding: 0.5rem;
}

.p-menubar {
  padding: 0;
}

.p-toolbar.p-component {
  background-color: white;
}

.p-card {
  @apply p-4;

  .p-card-footer {
    @apply flex justify-center;
  }
}

vvu-account-menu {
  ul {
    .p-submenu-list {
      right: 0%;
    }
  }
}
