@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body,
html {
  width: 100%;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.p-button {
  background-color: #0030b7;
}

/* Company Profile components */

.p-inputtext,
.p-dropdown {
  width: 100%;
}

.p-chips {
  width: 100%;
}

/* Vertical navigation */

vvu-vertical-nav {
  .p-sidebar-left {
    width: 16rem !important;
  }

  .p-sidebar,
  .p-button {
    background-color: #0030b7;
  }

  .p-sidebar .p-sidebar-content {
    padding-right: 0;
    padding-left: 0;
  }

  .p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .p-panelmenu .p-panelmenu-panel:last-child .p-panelmenu-content {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-panelmenu
    .p-panelmenu-panel:last-child
    .p-panelmenu-header:not(.p-highlight)
    > a {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .p-panelmenu .p-menuitem-text,
  .p-menuitem-icon,
  .pi-chevron-right > a {
    color: #fafafa;
  }

  .pi-chevron-right {
    color: #fafafa;
  }

  .p-panelmenu .p-panelmenu-header > a {
    background-color: #0030b7;
    border-color: #0030b7;
  }

  .p-panelmenu
    .p-panelmenu-header:not(.p-highlight):not(.p-disabled)
    > a:hover {
    background-color: #0030b7;
    border-color: #0030b7;
    color: #fafafa;
  }

  .p-panelmenu .p-panelmenu-header.p-highlight:not(.p-disabled) > a:hover {
    background-color: #0030b7;
    border-color: #0030b7;
    color: #fafafa;
  }

  .p-panelmenu-icon {
    order: 1; // Chevron icon to be the first item on right side.
  }

  .p-menuitem-text {
    flex-grow: 1; // Fill the whole space and push the Chevron icon to the end.
  }

  .p-panelmenu .p-panelmenu-header.p-highlight > a {
    background: #0030b7;
    color: #fafafa;
    border-color: #0030b7;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

/* Horizontal bar and navigation */

.p-toolbar {
  padding: 0.5rem;
}

.p-menubar {
  padding: 0;
}

.p-toolbar.p-component {
  background-color: white;
}

.p-card {
  @apply p-4;

  .p-card-footer {
    @apply flex justify-center;
  }
}

.horizontal-nav > .p-element > div {
  border-radius: 0;
  border: none;
}

vvu-rep-menu {
  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link
    .p-menuitem-text {
    color: #0030b7;
    font-weight: bold;
  }

  div.p-menubar.p-component {
    border-color: #ffffff;
    background-color: #ffffff;
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link
    .p-menuitem-icon {
    color: #0030b7;
    margin-right: 0.5rem;
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link
    .p-submenu-icon {
    color: #0030b7;
    margin-left: 0.5rem;
  }
}

vvu-account-menu {
  ul {
    .p-submenu-list {
      right: 0%;
    }
  }

  .p-menubar {
    border-color: #ffffff;
  }

  .p-menubar
    .p-menubar-root-list
    > .p-menuitem
    > .p-menuitem-link:not(.p-disabled) {
    background: #ffffff;
    border-color: #ffffff;
  }
}

vvu-account-setup {
  #header {
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
  }

  .p-steps .p-steps-item .p-menuitem-link {
    background: #fafafa;
  }

  .p-steps .p-steps-item:before {
    border-top: 1px solid #0030b7;
  }
}

vvu-not-verified {
  .p-card .p-card-subtitle {
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #FE005A;
  }
}
