<div class="grid mt-8 place-items-center">
    <p-card header="Account under review" subheader="Please allow up to 24 hours." [style]="{width: '360px'}" styleClass="p-card-shadow">
        <ng-template pTemplate="header">
            <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png">
        </ng-template>
        <p>We are verifying the details that you provided for your company.</p>
        <p class="mt-8">Your account administrator will receive an email when the account is activated.</p>
        <ng-template pTemplate="footer">
        </ng-template>
    </p-card>
</div>
